<div style="margin-top: 10px"></div>
<div class="container">
  <div class="content text-info">
			<h1>Biblioteca</h1>
			<hr/>
  </div>
  <div class="table-responsive">
  <table class="table table-sm" cellspacing="0" width="100%" >
      <tr class="table-info">
        <th></th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Autor</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
  </table>
  </div>
  <div class="my-2 text-left">
    <button class="btn btn-rounded btn-info" type="button" [routerLink] = "['/usuarios/form']">Crear libro</button>
  </div>
<div style="margin-top: 10px"></div>
