<div style="margin-top: 10px"></div>
<div class="container">
  <div>
     <img src="assets/img/biblioteca.png" alt="..." width="100%" style="padding:10px">
  </div>
  <div class="content text-info">
			<h1>Biblioteca</h1>
			<hr/>
  </div>
  <div class="table-responsive">
  <table class="table table-sm" cellspacing="0" width="100%" >
      <tr class="table-info">
        <th></th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Temática</th>
        <th>Estado</th>
        <th>Alquilado</th>
        <th>Usuario</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let libro of libros" >
        <td></td>
        <td>{{libro.id}}</td>
        <b><td>{{libro.nombre}}</td></b>
        <td>{{libro.tematica}}</td>
        <td>{{libro.estado}}</td>
        <b><td class="text-success">{{libro.alquilado}}</td></b>
        <td>{{libro.usuario}}</td>
        <td>
        <button type="button" name="editar" [routerLink]="['/biblioteca/formLibro', libro.id]" class="btn btn-warning btn-sm" style="margin-left:10px" > <span class="material-icons">edit</span></button>
        <button type="button" name="borrar" (click)='delete(libro)' class="btn btn-danger btn-sm" style="margin-left:10px" ><span class="material-icons">delete</span></button>
        <button type="button" name="borrar" (click)='alquilar(libro)' class="btn btn-success" style="margin-left:10px" >Alquilar</button></td>
      </tr>
  </table>
  </div>
  <div class="my-2 text-left">
    <button class="btn btn-rounded btn-info" type="button" [routerLink] = "['/biblioteca/formLibro']">Crear libro</button>
  </div>
  <div class="my-2 text-left">
    <button type="button" class="btn btn-rounded btn-secondary" data-toggle="modal" data-target="#miModal">
  	  Ver libros no disponibles
    </button>
  </div>

  <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
        <h3 class="modal-title text-center">Libros no disponibles</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body">
        <div class="table-responsive">
        <table class="table table-sm" cellspacing="0" width="100%" >
            <tr class="table-info">
              <th></th>
              <th></th>
              <th>Nombre</th>
              <th></th>
              <th>Estado</th>
              <th>Alquilado</th>
              <th>Usuario</th>
            </tr>
            <tr *ngFor="let libro of librosAlquilados" >
              <td></td>
              <td></td>
            <b><td>{{libro.nombre}}</td></b>
              <td></td>
              <td>{{libro.estado}}</td>
            <b><td class="text-danger">{{libro.alquilado}}</td></b>
              <td>{{libro.usuario}}</td>
              <td>
            </tr>
        </table>
        </div>
			</div>
		</div>
	</div>
</div>
<div style="margin-top: 10px"></div>
