<div class="container" style="margin-top:10px">
  <div class="text-center">
			<h1 class="p-3 mb-2 bg-info text-white">{{titulo}}</h1>
			<hr/>
  </div>
  <form #libroForm="ngForm">
      <div class="well">
          <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-5">
                  <div class="form-group row">
                      <label for="nombre" class="col-form-label col-sm-4 text-info">Nombre*:</label>
                    <div class="col-sm-8">
                  <input type="text" name="nombre" id="nombre" class="form-control" tabindex="1" [(ngModel)]="libro.nombre" required #nombre="ngModel">
                  <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <div *ngIf="nombre.errors.required">
                    Nombre obligatorio
                    </div>
                  </div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-5">
                  <div class="form-group row">
                      <label for="nombre" class="col-form-label col-sm-4 text-info">Temática*:</label>
                    <div class="col-sm-8">
                  <input type="text" name="tematica" id="tematica" class="form-control" tabindex="2" [(ngModel)]="libro.tematica" required #tematica="ngModel">
                  <div class="alert alert-danger" *ngIf="tematica.invalid && (tematica.dirty || tematica.touched)">
                    <div *ngIf="tematica.errors.required">
                    La temática es obligatoria
                    </div>
                  </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-5">
                <div class="form-group row">
                    <label for="nombre" class="col-form-label col-sm-4 text-info">Estado:</label>
                  <div class="col-sm-8">
                <input type="text" name="estado" id="estado" class="form-control" tabindex="3" [(ngModel)]="libro.estado" disabled >
                  </div>
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-5">
                <div class="form-group row">
                    <label for="nombre" class="col-form-label col-sm-4 text-info">Alquilado:</label>
                    <div class="col-sm-8">
                    <input type="text" name="alquilado" id="alquilado" class="form-control" tabindex="4" [(ngModel)]="libro.alquilado" disabled>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <!-- BOTONERA -->
        <hr>
        <div class="form-group row" style="margin-top: 50px;">
          <div class="col-sm-1 text-left">
            <button class="btn btn-rounded btn-outline-danger" type="button" [routerLink] = "['/biblioteca']">Cancelar</button>
          </div>
          <div class="col-sm-1 text-left">
            <button class="btn btn-rounded btn-outline-warning " type="reset">Limpiar</button>
          </div>
          <div class="col-sm-2 ">
            <button class="btn btn-info btn-block" role="button" (click)='create()' *ngIf="!libro.id else elseBlock" [disabled]="!libroForm.form.valid">Crear libro</button>

            <ng-template #elseBlock>
              <button class="btn btn-info" role="button" (click)='update()' [disabled]="!libroForm.form.valid">Editar libro</button>
            </ng-template>
          </div>
        </div>
  </form>
</div>
