<div style="margin-top: 10px"></div>
<div class="card border-info mb-3" style="max-width: 100% ">
  <div class="card-body text-primary">
    <h5 class="card-title text-info ">Listado de alumnos</h5>

  <table class="table table-table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha nacimiento</th>
        <th>Curso</th>
      </tr>
    </thead>
  <tbody >
    <tr *ngFor="let Alumno of alumnos">
      <td>{{Alumno.id}}</td>
      <td>{{Alumno.nombre}}</td>
      <td>{{Alumno.apellido}}</td>
      <td>{{Alumno.fechaNac}}</td>
      <td>{{Alumno.curso}}</td>
    </tr>
  </tbody>
  </table>

<div class="my-2 text-left">
  <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/alumnos/form']">Crear alumno</button>
</div>

  </div>
</div>
<div style="margin-top: 10px"></div>
