
<div style="margin-top: 10px"></div>
<div class="container">
  <div>
     <img src="assets/img/listadodeusuarios.png" alt="..." width="100%" style="padding:10px">
  </div>
  <div class="content text-info">
			<h1>Lista de usuarios</h1>
			<hr/>
  </div>
  <div *ngIf="usuarios?.length == 0" class="alert alert-info">
    No hay registros en la base de datos.
  </div>
  <div class="table-responsive" *ngIf="usuarios?.length>0">
  <table class="table table-sm" cellspacing="0" width="100%" >
      <tr class="table-info">
        <th></th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Telefono</th>
        <th>Email</th>
        <th></th>
      </tr>
    <tr *ngFor="let usuario of usuarios" >
      <td></td>
      <td>{{usuario.id}}</td>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellido1}} {{usuario.apellido2}}</td>
      <td>{{usuario.dni}}</td>
      <td>{{usuario.telefono1}}</td>
      <td>{{usuario.email}}</td>
      <td>
      <button type="button" name="info" [routerLink]="['/usuarios/poputInfo', usuario.id]" class="btn btn-info btn-sm"> <span class="material-icons">info</span></button>
      <button type="button" name="editar" [routerLink]="['/usuarios/form', usuario.id]" class="btn btn-warning btn-sm" style="margin-left:10px" > <span class="material-icons">edit</span></button>
      <button type="button" name="borrar" (click)='delete(usuario)' class="btn btn-danger btn-sm" style="margin-left:10px" ><span class="material-icons">delete</span></button></td>
    </tr>
  </table>
  </div>
  <div class="my-2 text-left">
    <button class="btn btn-rounded btn-info" type="button" [routerLink] = "['/usuarios/form']">Crear usuario</button>
  </div>
<div style="margin-top: 10px"></div>
